# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user
*.Release
*.Debug
DroneSystem/build-TestConnection-Desktop_Qt_5_4_2_MinGW_32bit2-Debug/debug/moc_networkconnection.cpp
DroneSystem/build-TestConnection-Desktop_Qt_5_4_2_MinGW_32bit2-Debug/Makefile
DroneSystem/build-TestConnection-Desktop_Qt_5_4_2_MinGW_32bit2-Release/Makefile
DroneSystem/build-TestConnection-Desktop_Qt_5_4_2_MinGW_32bit2-Release/release/moc_networkconnection.cpp
*.user
